.cont {
  overflow: scroll;
  background-color: #e5e5e5;
}

.cont .header {
  height: 0.88rem;
  position: relative;
  /* z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto; */
  background: #d33d3c;
}

.cont .header .header_wrap {
  display: block;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.cont .header .header_l {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .2rem;
}

.cont .header .header_l a {
  position: relative;
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
}

.cont .header .header_l a i {
  display: block;
}

.cont .header .header_l a i.back {
  width: 100%;
  height: 100%;
  background-image: url(../images/cart/left-arrow.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cont .header .header_title {
  display: inline-block;
  margin: 0 auto;
}

.cont .header .header_title h1 {
  font-size: 0.34rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #fff;
  margin: 0;
  font-family: "Microsoft YaHei",Helvetica,sans-serif,Arial;
}

.cont .header .header_title h1 i {
  font-family: HelveticaNeue,Helvetica,sans-serif,"Microsoft YaHei",Arial;
  display: none !important;
}

.cont .header .header_edit {
  display: inline-block;
  line-height: 0.88rem;
  color: #f2e2e2;
  font-size: 0.34rem;
  position: absolute;
  right: 0.92rem;
}

.cont .header .header_edit .edit_cart {
  width: 1.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  display: inline-block;
  font-size: 0.3rem;
}

.cont .header .header_r {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0.32rem;
  transform: translateY(-50%);
  font-size: 0;
  text-align: right;
}

.cont .header .header_r a {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}

.cont .header .header_r a i.more {
  background-image: url(../images/cart/classmore.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.cont .header .header_r a i {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  padding: 0.24rem 0;
  font-size: 0.3rem;
  color: #999;
}

.cont .main {
  flex: 1;
  display: flex;
  padding-top: .266667rem;
  flex-direction: column;
  justify-content: space-between;
}

.cont .main .cart_list {
  flex: 1;
  overflow-y: auto;
}

.cont .main .cart_list .goods_layer {
  margin-bottom: 0.23rem;
  background-color: #FFF;
}

.cont .main .cart_list .goods_layer .goods_store {
  border-bottom: solid 1px #EEE;
  height: 0.88rem;
  font-size: 0.24rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont .main .cart_list .goods_layer .goods_store .chose {
  margin-right: 0.2rem;
  margin-left: 0.24rem;
}

.cont .main .cart_list .goods_layer .goods_store .goods_store_name {
  flex: 1;
}

.cont .main .cart_list .goods_layer .goods_store .goods_store_tips {
  display: flex;
  color: #d33d3c;
  margin-right: 0.3rem;
  padding-left: 0.4rem;
}

.cont .main .cart_list .goods_layer .goods_store .goods_store_tips i {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin-top: 0.05rem;
  background: url(../images/cart/warn.png) no-repeat center;
  background-size: 100% 100%;
}

.cont .main .cart_list .goods_layer .goods_store .goods_store_tips span {
  margin: 0 .066667rem;
}

.cont .main .cart_list .goods_layer .goods_info {
  display: flex;
  padding: .16rem 0;
}

.cont .main .cart_list .goods_layer .goods_info .chose {
  margin-right: 0.2rem;
  margin-left: 0.24rem;
}

.cont .main .cart_list .goods_layer .goods_info .goods_img {
  width: 2rem;
  height: 2rem;
}

.cont .main .cart_list .goods_layer .goods_info .goods_img a {
  display: block;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.02);
  background-color: #ccc;
}

.cont .main .cart_list .goods_layer .goods_info .goods_img img {
  width: 100%;
  border-radius: 0.12rem;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text {
  display: flex;
  margin: 0 .266667rem;
  flex-direction: column;
  justify-content: space-around;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text dl dt.goods_name a {
  display: block;
  width: 3.8rem;
  font-size: 0.28rem;
  color: #111;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text dl dd.goods_type {
  overflow: hidden;
  white-space: nowrap;
  width: 3.5rem;
  height: 0.6rem;
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: #999;
  text-overflow: ellipsis;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num {
  display: flex;
  justify-content: space-between;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num .goods_price {
  color: #d33d3c;
  font-size: 0.2rem;
  font-weight: 500;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num .goods_price span {
  font-size: 0.34rem;
  margin-left: 0.1rem;
  font-weight: normal;
  color: #d33d3c;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num .goods_control {
  display: flex;
  width: 1.74rem;
  height: .5rem;
  border: 1px solid #ccc;
  border-radius: .066667rem;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num .goods_control .control {
  width: .4rem;
  height: 100%;
  line-height: .5rem;
}

.cont .main .cart_list .goods_layer .goods_info .goods_text .price_num .goods_control .show_num {
  text-align: center;
  margin-bottom: 0;
  height: 100%;
  line-height: .5rem;
  flex: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.cont .main .goods_cart_bottom {
  height: 0.98rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont .main .goods_cart_bottom .chose {
  margin-right: 0.2rem;
  margin-left: 0.24rem;
}

.cont .main .goods_cart_bottom .chose span {
  margin: 0 .066667rem;
  font-size: 0.32rem;
}

.cont .main .goods_cart_bottom .count {
  font-size: 0.32rem;
  color: #333;
  flex: 1;
  text-align: right;
  margin-right: 0.24rem;
}

.cont .main .goods_cart_bottom .check_out {
  font-size: 0.34rem;
  color: #FFF;
  display: block;
  height: 100%;
  width: 1.875333rem;
  background-color: #BBB;
}

.cont .main .goods_cart_bottom .active_pay {
  background-color: red;
}

input[type="checkbox"] {
  width: 0.42rem;
  height: 0.42rem;
  border: 0 none;
  background: url(../images/cart/before-check.png) no-repeat center;
  background-size: 100%;
  margin-top: -0.10rem;
}

.noLog img {
  width: 5.8rem;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -0.3rem;
  padding-top: 2rem;
}

.noLog p {
  color: #666;
  text-align: center;
  margin-top: 0.4rem;
  font-size: 0.3rem;
}

.noLog a {
  width: 3.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 0.06rem;
  color: #ff0000 !important;
  border: solid 1px #ff0000;
  font-size: 0.28rem;
  margin: 0 auto;
  display: block !important;
  margin-top: 0.4rem;
}
