.cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        overflow-y: auto;
        flex: 1;
    }
    .header{
        height: 0.88rem;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: #d33d3c;
    .header_wrap{
        display: block;
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
        .header_l {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            a {
         
                position: relative;
                z-index: 1;
                display: inline-block;
                width: 0.44rem;
                height: 0.44rem;
                padding: 0.22rem 0 0.22rem 0.18rem;
       .back {
                    display: block; 
                    width: .44rem;
                    height: .44rem;
                    background-image: url(../images/home/aa.png);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }
        }
        .shop_cart{
            width: 0.44rem;
            height: 0.44rem;
            position: absolute;
            right: 1.1rem;
            top: 50%;
            margin-top: -0.22rem;
            background: url(../images/home/z80.png?999) no-repeat 100% 100%;
            background-size: cover;
        }
        .header_r{
            position: absolute;
            z-index: 1;
            top: 0rem;
            right: 0.32rem;
            font-size: 0;
            text-align: right;
             a {
                position: relative;
                z-index: 1;
                display: inline-block;
                vertical-align: top;
               i {
                display: block;
                width: 0.4rem;
                height: 0.4rem;
                padding: 0.45rem 0;
                    background-image: url(../images/home/classmore.png?566);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 100%;
                }
               
            }
        }
    }
    }
    
    .footer{
        position: fixed;
        z-index: 1;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1rem;
        background: rgba(245,245,245,0.95);
        z-index: 99;
        .otreh_handle {
            float: left;
            width: 41.3%;
            font-size: 0;
            background-color: white;
            .store_ind i{
                background-image: url(../images/home/tab-store.png);
            }
            .kefu i{
                background-image: url(../images/home/tab-message.png);
            }
            .pd_collect i{
                background-image: url(../images/home/tab-collection-default.png);
            }
            
            a{
                position: relative;
                z-index: auto;
                display: inline-block;
                height: 1rem;
                text-align: center;
                color: #333;
                width: 33.2%;
                border-right: 1px solid #e5e5e5;
                background: #fff; 
                i{
                    display: inline-block;
                    width: 0.38rem;
                    height: 0.34rem;
                    margin: 0.12rem auto 0.05rem auto;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 100% 100%;
                    
                }
               
                p{
                    display: block;
                    height: 0.4rem;
                    font-size: 0.2rem;
                    line-height: 0.4rem;
                    color: #666;
                }
            }
           
        }
        .buy_handle{
            float: right;
            width: 58.7%;
            font-size: 0;
            a{
                display: block;
                height: 1rem;
                font-size: 0.34rem;
                font-weight: normal;
                line-height: 1rem;
                color: #FFF;
                text-align: center;
                font-family: PingFangSC-Regular, sans-serif,Microsoft Yahei;
            }
           .buy_now {
                background-color: #D33D3C;
                float: right;
                width: 50%;
            }
            
            .add_cart {
                float: right;
                width: 50%;
                background-color: #FE9402;
            }
        }

    }
}