.cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cont .header {
  width: 100%;
  height: 0.88rem;
  background: #d33d3c;
  position: relative;
}

.cont .header span {
  display: block;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.34rem;
  color: #ffffff;
}

.cont .header .header_right {
  position: absolute;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
}

.cont .header .header_right a {
  /* display: inline-block; */
}

.cont .header .header_right a .more {
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/sort/xiaoxi2.png);
  background-size: 0.4rem 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
}

.cont .main {
  flex: 1;
  overflow-y: auto;
  display: flex;
}

.cont .main .nav {
  background-color: #f9f9f9;
  padding-top: .3rem;
}

.cont .main .nav ul {
  width: 1.9rem;
  overflow-x: hidden;
  padding-top: 0.11rem;
  background-color: #f9f9f9;
}

.cont .main .nav ul a {
  display: block;
  text-align: center;
  color: #999;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.cont .main .nav ul a li {
  width: 1.9rem;
  height: .98rem;
  font-size: 0.28rem;
  line-height: .98rem;
  text-align: center;
}

.cont .main .nav ul .sort_nav_current {
  color: #d33d3c;
  border-left: solid #d33d3c 0.04rem;
  background-color: #fff;
}

.cont .main .nav_main {
  height: 100%;
  /* margin-left: 1.93rem; */
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0.3rem;
  flex: 1;
}

.cont .main .nav_main .nav_main_top a {
  display: block;
}

.cont .main .nav_main .nav_main_top a img {
  width: 5.333333rem;
  height: 2.013333rem;
  border-radius: 0.4rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}

.cont .main .nav_main .nav_main_bottom {
  width: 100%;
  overflow: hidden;
}

.cont .main .nav_main .nav_main_bottom dt {
  position: relative;
}

.cont .main .nav_main .nav_main_bottom dt a img {
  width: 5.1rem;
  height: .7rem;
}

.cont .main .nav_main .nav_main_bottom dt a span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.6rem;
  left: 0.36rem;
  font-size: 0.26rem;
  color: #333;
}

.cont .main .nav_main .nav_main_bottom dd {
  width: 1.6rem;
  float: left;
  margin-left: .266667rem;
  margin-top: .266667rem;
}

.cont .main .nav_main .nav_main_bottom dd a {
  display: block;
  color: #333;
  width: 1.2rem;
}

.cont .main .nav_main .nav_main_bottom dd a img {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0 0.16rem;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
}

.cont .main .nav_main .nav_main_bottom dd a p {
  font-size: 0.22rem;
  /* line-height: 0.6rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  text-align: center;
  width: 1.58rem;
  margin-left: -0.13rem;
}

.cont .main .nav_main .brands dd a {
  display: block;
  color: #333;
  width: 1.2rem;
}

.cont .main .nav_main .brands dd a img {
  width: 100%;
  margin: 0 0 0.16rem;
  border: 1px solid #f5f5f5;
  border-radius: 10%;
}
