#welfare #m-tabs-0-0 {}

#welfare .am-tabs-tab-bar-wrap {
    width: 7.53333rem !important;
    position: fixed;
    left: 0 !important;
    z-index: 999;
    height: 0.9rem !important;

}

#welfare .am-badge {
    font-size: 0.3rem;
}

#welfare .am-tabs-default-bar-underline {
    width: 1.6rem !important;
    /* left: 6.9333% !important; */
    margin-left: .436667rem;
    border: 1px solid #D33D3C ;
}
#welfare .am-tabs-default-bar-tab-active {
    color: #D33D3C ;
}