#m-tabs-0-0{
    
}
.am-tabs-tab-bar-wrap {
    width: 7.53333rem ;
    position: fixed;
    left: 0 ;
    z-index: 999;
    height: 0.9rem ;

}
.am-badge{
    font-size: 0.3rem;
    color: #999;
}
.am-tabs-default-bar-underline{
    width: 1.6rem;
    /* left: 6.9333%; */
    margin-left: .436667rem;
    border:1px solid #D33D3C;
    animation: none;
}